<!-- <table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let contact of contacts" >
    <td>{{ contact.name }}</td>
    <td>{{ contact.email }}</td> 
    <td>
	<a [routerLink]="['/contact', contact.id]">Go to details</a>
    </td>
  </tr>
</table> -->

<div class="columns">
  <div class="column col-12">
    <ngx-table
      [configuration]="configuration"
      [data]="data"
      (event)="eventEmitted($event)"
      [columns]="columns">
    </ngx-table>
  </div>
</div>
<ng-template #phoneTpl let-row let-rowIndex="rowIndex">
  <div class="phone" *ngIf="edit !== rowIndex">Text: {{row.text}}</div>
  <div *ngIf="edit === rowIndex">
    <input type="text"
           placeholder="Text"
           (blur)="update($event)"
           class="form-label"
           [value]="row.text">
  </div>
</ng-template>
